# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Copy repository
        uses: actions/checkout@v3
      - name: Setup node check frontend
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
        working-directory: ./web
      - run: npm run typecheck
        working-directory: ./web
      #      - run: npm run test
      #        working-directory: ./web
      - run: npm ci
        working-directory: ./api
      - run: npm run build
        working-directory: ./api
#      - run: npm run test // Will be added later
